<h2>Наши координаты</h2>
<p>Телефон: + 7 (495) 145-34-54</p>
<p>Адрес: Ермолаевский пер. 43</p>

<form action="/contacts" method="POST" role="form">
  
  <div class="form-group">
    <input name="umail" type="text" class="form-control" placeholder="E-mail">
  </div>
<textarea name="message_user" class="form-control" placeholder="Сообщение" rows="3"></textarea><br>
<button type="text" class="btn btn-primary">Удачи</button>

</form>